@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Access denied</h1>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <h1 class="text-danger">@ViewData["Title"]</h1>
    </div>
    <div class="row">
        <p class="text-danger">You do not have access to this resource.</p>
    </div>
</div>
<br />