@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = this.Localizer["Confirm email"];
}
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@this.Localizer["Confirm email"]</h1>
                <span>@this.Localizer["We have over 5 years of experience"]</span>
            </div>
        </div>
    </div>
</div>
<div class="services">
    <div class="container">
        <div class="row">
            <h1>@this.Localizer["Confirm email"]</h1>
        </div>
    </div>
</div>
<br />