@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@ViewData["Title"]</h1>
                <span>We have over 20 years of experience</span>
            </div>
        </div>
    </div>
</div>
<div class="services">
    <div class="container">
        <div>
            <h1>@ViewData["Title"]</h1>
            @{
                if (@Model.DisplayConfirmAccountLink)
                {
                    <div>
                        This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                        Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                    </div>
                }
                else
                {
                    <div>
                        Please check your email to confirm your account.
                    </div>
                }
            }
        </div>
    </div>
</div>
<br />