@{
    ViewData["Title"] = "Edit Home";
}
<h2 class="mt-4 row">
    <b>
        Edit Home Page
    </b>
</h2>
<hr class="row" />
<div class="row">
    <h4>Edit Banner Section</h4>
</div>
<div class="row">
    <select class="form-control">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
</div>