@{
    ViewData["Title"] = "Edit Home";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <h2>
                <b>
                    Edit Home Page
                </b>
            </h2>
        </div>
    </div>
</div>