@{
    ViewData["Title"] = "Edit section";
}

<h2 class="mt-4 row">
    <b>
        Edit section
    </b>
</h2>
<hr class="row" />
<div class="mt-4">
    <partial name="_TempDataPartial" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}